/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
  font-family: Roboto, Arial, sans-serif;
}

table{
  width: 100%;
}

th.mat-sort-header-sorted{
  color:black;
}
tr.mat-footer-row{
  font-weight: bold;
}

.mat-table-sticky{
  border: 1px solid rgb(113, 112, 112);
}

tr:hover{
  background: rgba(102, 101, 102, 0.333);
}

tr:hover{
  background: rgba(74, 73, 74, 0.888);
}
